<ul class="pc-t-loan-card">
  <li>${rankidx}</li>
  <li>${codeNm}<img src="${imgSUrl}" /></li>
  <li>${cdNm}</li>
  <li class="focus-g">
    <img class="focus-img" src="/assets/common/icon_star.png" />${prodFocus}%
  </li>
  <li class="losscut-g">
    <img
      class="losscut-img"
      src="/assets/common/icon_star.png"
    />${prodLosscut}%
  </li>
  <li class="atm-g">
    <img class="atm-img" src="/assets/common/icon_star.png" />${prodAtm}%
  </li>
  <li class="month-g">
    <img class="month-img" src="/assets/common/icon_star.png" />${loanMonth}개월
  </li>
</ul>

<div class="row border-t2 m-loan-card">
  <div class="box-left">
    <div>
      <ul>
        <li>${rankidx}</li>
        <li class="txt-r">${codeNm}</li>
      </ul>
    </div>
    <div class="logo txt-b"><img src="${imgSUrl}" /><br />${cdNm}</div>
  </div>
  <div class="box-right">
    <ul>
      <li>집중률</li>
      <li class="focus-g txt-r txt-b">
        <img
          class="focus-img"
          src="/assets/common/icon_star.png"
        />${prodFocus}%
      </li>
    </ul>

    <ul>
      <li>로스컷비율</li>
      <li class="losscut-g txt-r txt-b">
        <img
          class="losscut-img"
          src="/assets/common/icon_star.png"
        />${prodLosscut}%
      </li>
    </ul>

    <ul>
      <li class="col-6">출금비율</li>
      <li class="atm-g txt-r txt-b">
        <img class="atm-img" src="/assets/common/icon_star.png" />${prodAtm}%
      </li>
    </ul>

    <ul>
      <li>대출기간</li>
      <li class="month-g txt-r txt-b">
        <img
          class="month-img"
          src="/assets/common/icon_star.png"
        />${loanMonth}개월
      </li>
    </ul>
  </div>
</div>
