<div class="col-12 col-xl-6 news-list">
  <div style="padding-right: 20px; width: 60%; flex-grow: 1">
    <a href="${LinkUrl}" target="_blank" style="text-decoration: none">
      <div
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      >
        <span style="font-size: 1.05rem; color: #191600; font-weight: 700"
          >${Subject}</span
        >
      </div>
      <div
        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
      >
        <span style="font-size: 1.05rem; color: #828282">${Summary}</span>
      </div>
      <div
        style="
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          align-self: flex-end;
        "
      >
        <span style="font-size: 1.05rem; font-weight: 300; color: #828282"
          >${OfficeBy}</span
        >
        <span
          style="
            font-size: 1.05rem;
            font-weight: 300;
            color: #828282;
            padding-left: 5px;
          "
          >${CreateDate}</span
        >
      </div>
    </a>
  </div>
  <div style="height: 4.5rem; width: 5.5rem">
    <a href="${LinkUrl}" target="_blank" style="text-decoration: none">
      <img
        src="${ThumbnailUrl}"
        style="height: 100%; width: 100%; border-radius: 5px; object-fit: cover"
      />
    </a>
  </div>
</div>
