<link rel="stylesheet" href="/styles/footer.css" />
<div class="container-fluid footer-con">
  <div class="row footer-space">
    <div class="col-12 footer-btn-group">
      <a class="footer-btn" href="#" onclick="setParamUrl('/views/terms.html')"
        >홈페이지 이용약관</a
      >
      <a class="footer-btn" href="#" onclick="setParamUrl('/views/rules.html')"
        >계좌운용규칙</a
      >
      <a class="footer-btn" href="#" onclick="setParamUrl('/views/policy.html')"
        >개인정보 처리방침</a
      >
    </div>
    <div class="footer-cont1">
      <p>"㈜에스앤씨시스템즈의 전문 상담사가 응대할 수 있습니다."</p>
      <br />
      <p>
        고객상담센터
        <a class="tel-num" href="tel:1600-8571"><span class="footer-colnum agency-tell-num">1600-8571</span></a>
        <span>(오전 8시 30분 ~ 오후 5시 30분) &nbsp; </span>
        <span>팩스 02-3442-2428 &nbsp; </span
        ><span>이메일 master@stock601.com</span>
      </p>
    </div>
    <p>
      "당사는 특정 금융회사의 상품을 추천하거나 판매 대리 또는 중개 서비스를
      제공하지 않습니다."
    </p>
    <br />
    <p>
      (주)케이지에셋 &nbsp;
      <span>대표이사 장두식 &nbsp; </span><span>사업자등록번호 211-88-10902 &nbsp; </span
      ><span
        >06043,서울특별시 강남구 강남대로 136길 23, 2층(논현동,
        시스터빌딩)</span
      >
    </p>
    <br />
    <p>
      Copyright(c) KG Asset. ALL RLGHT RESERVED.<br />
      <span style="color: #eeeded"
        >Icons by <a href="https://icons8.com/" target="_blank">Icons8</a></span
      >
    </p>
  </div>
</div>
