@media (min-width: 768px) and (max-width: 1199px) {
  .best-item-g > *:nth-child(7),
  .best-item-g > *:nth-child(8) {
    display: none; }
  .m-loan-card {
    display: none; }
  .stock-loan .stock-loan-inner .stock-loan-list .loan-card .card-inner-flip-up.flipped .card-front {
    transform: rotateX(90deg);
    z-index: 0; }
  .stock-loan .stock-loan-inner .stock-loan-list .loan-card .card-inner-flip-up.flipped .card-back {
    transform: rotateX(0deg);
    z-index: 100; }
  .stock-counseling {
    margin-top: 25px; }
  .stock-counseling .speed-l {
    font-size: 1rem; }
  .stock-counseling .speed-l .naver-item {
    text-align: right;
    border-radius: 10px;
    padding: 27px 15px;
    background-position: 15px 50%;
    background-size: 45px; }
  .stock-counseling .speed-l .naver-item span {
    font-size: 1.2rem; }
  .stock-counseling .speed-l .kakao-item {
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 73px 10px 15px;
    background-position: 50% 25%;
    background-size: 40px; }
  .stock-counseling .speed-l #channeltalk-button {
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 73px 10px 15px;
    background-position: 50% 25%;
    background-size: 40px; }
  .stock-counseling .speed-m .speed-input {
    padding: 15px 12px 0px 0; }
  .stock-counseling .speed-m .speed-input h3 {
    padding-left: 25px; }
  .stock-counseling .speed-m .speed-input .speed-check-btn {
    padding: 15px 5px 0 15px; }
  .stock-counseling .speed-m .speed-input .speed-check-btn .speed-check {
    margin-top: 10px; }
  .stock-counseling .speed-m .speed-input .speed-check-btn .speed-check label {
    padding-right: 5px; }
  .stock-counseling .speed-m .speed-input .speed-check-btn .speed-check input {
    vertical-align: middle;
    width: 16px;
    height: 16px; }
  .stock-counseling .speed-r .speed-r-container {
    padding: 20px;
    background-position: 85% 85%; }
  .stock-counseling .speed-r .speed-r-container .speed-text {
    line-height: initial; }
  .stock-best .best-back .best-title {
    margin: 30px 0 10px 20px; }
  .stock-best .best-back .best-more-btn {
    padding: 0 25px; }
  .stock-best .best-back .best-more-btn button {
    margin-top: 30px; }
  .news-list:first-child(1),
  .news-list:nth-child(3),
  .news-list:nth-child(5),
  .news-list:nth-child(7),
  .news-list:nth-child(9) {
    padding-right: 0px; }
  .news-list:nth-child(2),
  .news-list:nth-child(4),
  .news-list:nth-child(6),
  .news-list:nth-child(8),
  .news-list:nth-child(10) {
    padding-left: 0px; }
  .sub-top {
    height: 380px; }
  .sub-top .sub-title {
    width: 45%;
    bottom: 50px; }
  .sub-top .right-side {
    left: 50%; }
  .sub-path {
    display: none; }
  .loan-img,
  .shorts-img,
  .guide-img {
    background-position: right 7% bottom 35%;
    background-size: 410px; }
  .online-img,
  .news-img {
    background-position: right 5% bottom 40%;
    background-size: 450px; }
  #about-img {
    background-position: center top;
    background-size: cover; }
  .bg-grey {
    max-height: 260px; }
  .sub-head {
    margin-top: 50px; }
  .loan-search {
    margin-top: 50px; }
  .loan-list {
    margin-top: 50px; }
  .loan-list h2 {
    display: none; }
  .loan-list .list-box .loan-g ul {
    display: table-row; }
  .loan-list .list-box .loan-g ul:last-child li {
    border-bottom: 0px; }
  .loan-list .list-box .loan-g li {
    display: table-cell;
    text-align: center;
    width: 14vw;
    width: 14dvw;
    padding: 25px 0;
    border-bottom: 1px solid #e2e2e2; }
  .loan-list .list-box .loan-g li:first-child {
    width: 10vw;
    width: 10dvw; }
  .loan-list .list-box .loan-g li:nth-child(2) {
    width: 20vw;
    width: 20dvw; }
  .loan-list .list-box .loan-g li:nth-child(2) img {
    width: 50px; }
  .loan-list .list-box .loan-g li img {
    width: 25px;
    padding: 0 3px 5px 0; }
  .shorts-search {
    margin-top: 50px; }
  .for-txt {
    padding-right: 30px; }
  .all-check {
    margin-top: 30px; } }
